@model SalesWebMvc.Models.Seller
@{
	ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
	<dl>
		<dt class="mt-4">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt class="mt-4">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt class="mt-4">
			@Html.DisplayNameFor(model => model.BirthDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.BirthDate)
		</dd>

		<dt class="mt-4">
			@Html.DisplayNameFor(model => model.Salary)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Salary)
		</dd>

		<dt class="mt-4">
			@Html.DisplayNameFor(model => model.Department)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Department.Name)
		</dd>
	</dl>

	<div>
		<a asp-action="Edit" asp-route-id="model.Id" class="btn btn-success mt-4">Edit</a>
		<a asp-action="Index" class="btn btn-link mt-4">Cancel</a>
	</div>
</div>